/*========================= index =========*/

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Impede a rolagem da página */
}

        /* Definindo o fundo da página para ocupar 100% da tela */
#vanta-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Para garantir que o conteúdo da página fique em cima */
}

        /* Estilo adicional para o conteúdo */
.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    padding-top: 20%;
    margin: 0 auto;
    width: 100%;
}

        /* Estilo para o título */
.content h1 {
    font-size: 4rem;
    font-weight: bold;
}


        /* Responsividade para telas menores */
@media (max-width: 768px) {
    .content h1 {
                font-size: 2.5rem;
        }

    .content p {
                font-size: 1.2rem;
        }

#sobre {
    font-size: 1rem;
    }
}

#saudacao p{
    font-size: 2rem;
    font-family:"Gill Sans", sans-serif;
}

#sobre{
    font-size: 01rem;
    font-family:"Gill Sans", sans-serif;
    color: aliceblue;
    text-decoration: none;

}


#sobre:hover {
    font-family:"Gill Sans", sans-serif;
    font: bold;
    color: rgb(255, 255, 255); /* Cor do texto ao passar o mouse */
    padding: 5px;
    border-radius: 3px;
    background-color:rgba(139, 255, 249, 0.644);     /* Fundo transparente */
    text-decoration: underline;       /* Deixa o texto sublinhado ao passar o mouse */
}